node_modules/

## ignores private key directory*
private_keys/

##* except for the .gitkeep, which preserves structure for key storage
!private_keys/.gitkeep

## exclude test client
CSCE3550-1.0.0/

##exclude test_keys directory for test suite
test_keys/

##.gitkeep preserves structure for directory
!test_keys/.gitkeep

##exclude jwt_auth_test_keys directory for JWT auth test suite
jwt_auth_test_keys/

##.gitkeep preserves structure for directory
!jwt_auth_test_keys/.gitkeep

## exclude generated coverage directory
coverage/